%table.table
  %thead
    %tr
      %th Team
      - (1..11).each do |week|
        %th= week
  %tbody
    - @teams.each do |team|
      %tr{align: 'left'}
        - if team.eliminated?
          %td.dead= team.name
        - else
          %td.alive= team.name
        - team.weeks.limit(11).each do |week|
          - if team.eliminated_week == week.week_num
            %td{class: "struck eliminated"}= week.points
          - elsif team.eliminated? && team.eliminated_week > week.week_num
            %td= week.points
          - elsif team.eliminated? && team.eliminated_week < week.week_num
            %td.eliminated -
          - else
            %td= week.points
